@import "~assets/variables";

.login-button {
    min-width: 250px;
}
.login-container {
    color: $theme;
    background-color: $accent;
    padding-bottom: 25em;
    
    .login-button-container {
        margin: 5px 0;
    }
}