.competition-scores-table {
    thead {
        display: none;
    }

    .team-col {
        width: 40%;
    }
    
    .info-col {
        width: 75px;
    }
    
    .score-col {
        font-size: 120%;
    }
}