@import "~assets/animations";

.overlay {
    position: fixed;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: block;
    opacity: 0
}

.overlay.active {
    @include anime(fadein, 300ms, ease-in-out, 0s, 1, normal, forwards);
    opacity: 1;
    height: 100vh;
}

.overlay.hidden {
    @include anime(fadeout, 300ms, ease-in-out, 0s, 1, normal, forwards);
    opacity: 0;
    height: 0;
};

@keyframes fadein {
    0% {
        opacity: 0;
        height: 100vh;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        height: 100vh;
    }
    99% {
        opacity: 0;
        height: 100vh;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}